sympy==1.13.3
psutil==7.0.0
networkx==2.2
pytimeparse==1.1.8
nvidia-cusparse-cu12==12.1.0.106
google-auth-oauthlib==1.0.0
gitdb==4.0.12
markdown-it-py==3.0.0
pyasn1_modules==0.4.2
torch==2.4.1
nvidia-cuda-cupti-cu12==12.1.105
jiter==0.9.0
nvidia-curand-cu12==10.3.2.106
pycollada==0.6
dill==0.3.9
platformdirs==4.3.6
sniffio==1.3.1
oauthlib==3.2.2
grpcio==1.70.0
imageio==2.35.1
six==1.17.0
zipp==3.20.2
PyOpenGL==3.1.0
idna==3.10
deprecation==2.1.0
gym==0.26.2
wandb==0.19.8
cachetools==5.5.2
sentry-sdk==2.24.1
termcolor==2.4.0
pettingzoo==1.24.3
pytz==2025.2
fonttools==4.56.0
setproctitle==1.3.5
MarkupSafe==2.1.5
requests==2.32.3
ninja==1.11.1.4
wheel==0.44.0
bitmath==1.3.3.1
pyrender==0.1.45
nvidia-nvjitlink-cu12==12.9.41
enum-tools==0.12.0
Markdown==3.7
certifi==2025.1.31
nvidia-cuda-nvrtc-cu12==12.1.105
absl-py==2.2.0
treevalue==1.5.0
importlib_resources==6.4.5
fsspec==2025.3.0
Werkzeug==3.0.6
freetype-py==2.5.1
h11==0.14.0
pip==24.2
trimesh==4.6.8
tensorboard==2.14.0
glfw==2.8.0
chardet==4.0.0
rich==13.9.4
pyglet==2.1.5
urdfpy==0.0.22
nvidia-nccl-cu12==2.20.5
mdurl==0.1.2
lxml==5.4.0
nvidia-cusolver-cu12==11.4.5.107
httpcore==1.0.8
pyparsing==3.1.4
packaging==24.2
charset-normalizer==3.4.1
filelock==3.16.1
httpx==0.28.1
cloudpickle==3.1.1
anyio==4.5.2
annotated-types==0.7.0
nvidia-nvtx-cu12==12.1.105
onnx==1.17.0
triton==3.0.0
numpy==1.24.4
pydantic_core==2.27.2
nvidia-cudnn-cu12==9.1.0.70
protobuf==5.29.4
tzdata==2025.2
debugpy==1.8.13
typing_extensions==4.12.2
google-auth==2.38.0
rsa==4.9
openai==1.75.0
mpmath==1.3.0
graphviz==0.20.3
tensorboard-data-server==0.7.2
importlib_metadata==8.5.0
Pygments==2.19.1
etils==1.3.0
Farama-Notifications==0.0.4
gymnasium==0.29.0
smmap==5.0.2
kiwisolver==1.4.7
pydantic==2.10.6
openrl==0.2.0
decorator==5.2.1
pygame==2.6.1
python-dateutil==2.9.0.post0
seaborn==0.13.2
contourpy==1.1.1
mujoco==3.2.3
pyasn1==0.6.1
setuptools==67.0.0
gym-notices==0.0.8
jsonargparse==4.37.0
opencv-python==4.11.0.86
skrl==1.4.3
requests-oauthlib==2.0.0
nvidia-cublas-cu12==12.1.3.1
Jinja2==3.1.6
tqdm==4.67.1
scipy==1.10.1
GitPython==3.1.44
exceptiongroup==1.2.2
pillow==10.4.0
nvidia-cufft-cu12==11.0.2.54
PyYAML==6.0.2
hbutils==0.11.0
click==8.1.8
nvidia-cuda-runtime-cu12==12.1.105
matplotlib==3.7.5
pandas==2.0.3
urllib3==2.2.3
distro==1.9.0
treelib==1.7.1
cycler==0.12.1
docker-pycreds==0.4.0
eval_type_backport==0.2.2
isaacgym==1.0rc4
rsl-rl==1.0.2
mqe==1.0.0
